$bright: #ffffff;
$gray-1: #f7f7f7;
$gray-2: #dddddd;
$gray-3: #cccccc;
$blue-1: #00AEEF;
$red-1: #EF4136;
$def-spacing:10px;

.header {
    overflow: hidden;
    background-color: $gray-1;
    padding: $def-spacing*2 $def-spacing;
  }

  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: $def-spacing*2;
    border-radius: 4px;
  }

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo:hover {
    background: none;
  }

  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: $gray-2;
    color: black;
  }
  .header a.logo img{ height: $def-spacing*5;}
  /* Style the active/current link*/
  .header a.active {
    background-color: $blue-1;
    color: $bright;
  }

  /* Float the link section to the right */
  .header-right {
    margin-top: $def-spacing*2;
    float: right;
  }

  .visibleWhenMobile{ display: none;}
  .hiddenWhenMobile{ display: block;}

  .submenu{ min-height: 30px; padding: $def-spacing 0px; background-color: $red-1; text-align: center;}
  .submenu a{ margin:0px 20px 0px 0px; color: $bright;}

  .business-post{ border: 1px solid $gray-3; border-radius:$def-spacing; padding:$def-spacing*2; margin: $def-spacing*2 0px;}
  .business-post.highlight{ background-color: $gray-1;}

  img{ max-width:100%}
  aside img{ margin: 0px 0px $def-spacing*3 0px;}

  aside{ padding:0px;}
  aside .column-submenu{ margin: $def-spacing*3 0px 0px 0px; padding: 0px 0px 0px $def-spacing*3;}
  aside .column-submenu li{ font-size:1.2rem; list-style-type: none; margin: 0px 0px 10px 0px; padding: 0px;}

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

    .visibleWhenMobile{ display: block;}
    .hiddenWhenMobile{ display: none !important;}
  }
